/* This stylesheet contains all styles for the first row of the page */
.first-row {
  margin-top: 15px;
}
.feature-stories-title {
  font-size: 24px;
  line-height: 24px;
}

.top-central-story-title {
  font-size: 22px;
  line-height: 24px;
}

.top-row-categories {
  font-size: 1rem;
  line-height: 1rem;
  color: #03030366;
}

.card-featured-img {
  position: relative;
}
.img-tag {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: #f72210;
  padding: 5px 12px;
  background-color: #e6e6e7;
  position: absolute;
  bottom: 0;
  left: 0;
}
